/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#outlines {
    max-width: 100%;
    height: auto;
    background-color: lightgray;
    position: relative;
    margin: 0 auto;
}

#outlines::before {
    content: "";
    display: block;
    width: 100%;
    height: 392px;
}

#outlines::after {
    display: block;
    height: 140px;
    background-color: #f4f4f4;
    line-height: 140px;
    font-size: 1.125rem;
    font-weight: bold;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px 20px;
    padding: 30px;
    margin-top: 50px;
}

.about {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

.genius-card {
    flex: 0 1 calc(33.4% - 60px);
    max-width: 385px;
    height: 464px;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
    overflow: hidden;
    padding-bottom: 100px;
    gap: 50px;
}

.tetris-card {
    background-color: white;
    padding-bottom: 180px;
    border-radius: 12px;
    width: 82%;
    transition: transform 0.5s;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.tetris-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.genius-card:hover,
.tetris-card:hover {
    transition: transform 0.5s;
    transform: translateY(-1%);
}

.genius-image {
    max-height: 392px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.genius-name {
    position: absolute;
    left: 20px;
    bottom:120px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.offset-button, .tetris-card-button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    width: 105px;
    height: 40px;
    font-size: 14px;
    background-color: #6366F1;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s;
}

.tetris-card-button:hover,
.offset-button:hover {
    background-color: white;
    color: #4b4ef7;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.footer {
    height: 1px;
}

.title {
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 3em;
}

.description {
    max-width: 1200px;
    margin: 0 auto;
    text-align: justify;
    text-justify: distribute;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    padding: 0 70px;
}


@media (max-width: 1000px) {
    .grid {
        gap: 30px 20px;
    }

    .genius-card, .tetris-card {
        flex: 1 1 calc(50% - 30px);
        max-width: 80%;
        margin: 0 auto;
        height: auto;
    }

    .genius-name {
        position: static;
        margin: 10px 20px;
        font-size: 0.95rem;
    }
    
}

@media (max-width: 480px) {

    h1 {
        font-size: 1.5em;
    }
    .grid {
        flex-direction: column;
    }

    .tetris-card {
        padding-bottom: 100px;
    }
}