body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
}

h1 {
    color: rgb(0, 0, 0);
    margin-top: 40px;
    font-size: 60px;
}

h2 {
    font-size: 24px;
    text-align: center;
    color: #000000;
    font-family: sans-serif;
}

p {
    color: black;
}

.poster {
    width: 100%;
    height: auto;
    margin-top: 0;
}

.poster img {
    width: 100%;
    height: auto;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.3);
}

.container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.img1,
.img2 {
    width: 590px;
    height: 375px;
    flex-shrink: 0;
}

.img1 img,
.img2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
}

.text-content1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-top: 50px;
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 1000px;
}

.text-content2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 500px;
}

.title {
    color: black;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: -0.02em;
    margin: 0;
}

.description {
    color: black;
    margin-top: 10px;
    font-weight: 200;
    font-size: 24px;
    line-height: 1.4;
}

.event-description {
    width: 90%;
    margin: 0 auto 50px auto;
    text-align: left;
    font-weight: 200;
    font-size: 24px;
    line-height: 1.4;
    color: black;
}

.btn1 {
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 16px;
}

.content {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  .content.fade-out {
    opacity: 0;
  }

.content-block1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.content-block2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 100px;
}

#btn {
    width: 310px;
    height: 77px;
    border-radius: 12px;
    border: none;
    background-color: #6366F1;
    color: white;
    transition: all 0.5s ease;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

#btn:hover {
    transform: translateY(-8%);
    background-color: white;
    color: #6366F1;
}

#searchInput {
    visibility: hidden;
}

@media (max-width: 900px) {

    h1 {
        font-size: 20px;
        margin: 20px 10px;
    }

    h2 {
        margin-top: 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 87%;
    }

    .content-block1,
    .content-block2 {
        flex-direction: column;
        align-items: left;
        margin-bottom: 0px;
        height: auto;
        gap: 0px;
        width: 50vh auto;
    }

    .img1,
    .img2 {
        width: 95%;
        height: auto;
    }

    .img1 img,
    .img2 img {
        width: 100%;
        height: auto;
    }

    .text-content1,
    .text-content2 {
        margin: 0 auto;
        text-align: left;
        width: 90%;
        font-size: 18px
    }

    .title {
        font-size: 20px;
        line-height: 30px;
        margin-top: 25px;
        align-self: flex-start;
    }

    .description {
        font-size: 18px;
        text-align: start;
    }

    .event-description {
        font-size: 18px;
        text-align: start;
    }

    #btn {
        align-self: center;
        width: 101%;
        height: 55px;
        margin-top: 5px;
        margin-bottom: 25px;
    }
}