body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.content-container {
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    box-sizing: border-box;
}

h2, .title {
    color: black;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: left;
    margin-bottom: 1rem;
}

.text, .paragraph {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.8;
    text-align: left;
    margin-bottom: 1.5rem;
}

.poster {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.poster img {
    width: 100%;
    height: auto;
    max-width: 100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

.image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 30px 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#searchInput {
    visibility: hidden;
}

@media (max-width: 768px) {
    .title, h2 {
        font-size: 1.5rem;
    }

    .text, .paragraph {
        font-size: 1rem;
    }

    .content-container {
        margin-top: 30px;
    }

    .image img {
        width: 100%;
        border-radius: 8px;
    }
}

@media (max-width: 400px) {
    .title, h2 {
        font-size: 1rem;
    }

    .text, .paragraph {
        font-size: .9rem;
    }

    .image img {
        width: 100%;
        border-radius: 8px;
    }
}
